@font-face {
  font-family: Geometria;
  src: url(../fonts/Geometria.otf);
}
.menu {
  position: fixed;
  height: auto;
  width: 100%;
  padding: 9px 60px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  background-color: #3d5057;
  font-family: Geometria;
  opacity: 0.8;
  z-index: 5;
}
nav {
  display: flex;
  flex-direction: row;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  white-space: nowrap;
}
ul.nav li a {
  color: white;
  padding: 0 33px;
}
ul.header-phone {
  margin: 0;
  padding: 0 33px;
}
ul.header-phone li a{
  color: #53d0fb;
}
ul.header-lang {
  margin: 0;
  padding-left: 33px;
}
ul.header-lang li a {
  color: #53d0fb;
}
ul.header-lang li {
  padding: 6px;
}
ul.header-phone li {
  padding: 6px;
}
.phone-lang {
  display: flex;
  flex-direction: row;
  color: #53d0fb;
}


.hamburger  {
  display: none;
  outline: none;
}
@media (max-width: 1585px) {
  ul.nav li a, ul.header-phone {
    padding: 0 20px;
  }
  ul.header-lang {
    padding-left: 20px;
  }
}
@media (max-width: 1415px) {
  ul.nav li a, ul.header-phone {
    padding: 0 10px;
  }
  ul.header-lang {
    padding-left: 10px;
  }
  .menu {
    padding: 9px 20px;
  }
}
@media (max-width: 1290px) {
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .menu-bar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }
  .menu-block {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 5px;
    ul.nav {
      border-top: 1px solid rgba(0, 0, 0, 0.2);
      width: 100%;
    }
    li {
      padding: 34px;
    }
    flex-direction: column;
    .nav {
      flex-direction: column;
    }
    .phone-lang {
      flex-direction: column;
      .header-phone {
        flex-direction: column;
        li {
          padding: 20px;
          a {
            text-decoration: none;
          }
        }
      }
      .header-lang {
        justify-content: center;
        li {
          a {
            text-decoration: none;
          }
        }
      }
    }
  }
  .is-hidden {
    display: none;
  }
  .hamburger  {
    display: inline-block;
  }
  .menu-block {
    li a:hover {
      background-color: transparent;
      color: #000000;
    }
  }
}
@media (max-width: 320px) {
  .menu-block {
    li {
      padding: 20px;
    }
  }
}






