.regulations {
  padding: 145px 0 25px 0;
  font-family: 'PT Sans', sans-serif;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
}
.wrap-regulations {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  font-size: 22px;
}
.block-text {
  max-width: 792px;
  p {
    margin: 0 30px 26px 0;
  }
}
.title {
  font-size: 38px;
}
.icon-regulations {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  right: 30px;
  bottom: 25px;
  text-align: center;
  height: 170px;
  a {
    border: 1px solid #c3c2c7;
    background-color: #c3c2c7;
    color: #ffffff;
    border-radius: 50%;
    padding: 12px;
  }
}
.text {
  transform: rotate(90deg);
  color: #c3c2c7;
}
.logo-regulations {
  padding: 0 28px;
  .img-logo-regulations {
    max-width: 380px;
  }
}
.text-frame {
  font-size: 30px;
  line-height: 44px;
  color: #000000;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border: 3px solid #53d0fb;
  padding: 55px 0 55px 0;
  p {
    margin: 0 0 26px 0;
  }
}
.text-frame {
  margin: 95px 0 115px 0;
}
.text-frame p {
  margin: 0;
}
@media (max-width: 1400px) {
  .block-text {
    max-width: 625px;
  }
}
@media (max-width: 1140px) {
  .block-text {
    max-width: 510px;
  }
  .regulations {
    padding: 45px 0 25px 0;
  }
  .title {
    font-size: 34px;
  }
}
@media (max-width: 980px) {
  .wrap-regulations {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .block-text {
    max-width: 792px;
    text-align: justify;
  }
}
@media (max-width: 923px) {
  .icon-regulations {
    display: none;
  }
}
@media (max-width: 768px) {
  .wrap-regulations {
    font-size: 18px;
  }
  .regulations {
    padding: 20px 0 20px 0;
  }
  .text-frame {
    margin: 15px 0 15px 0;
    padding: 20px 0;
    p {
      font-size: 18px;
    }
  }
  .logo-regulations {
    padding: 0 15px;
    .img-logo-regulations {
      width: 100%;
    }
  }
  .block-text {
    p {
      margin: 0 0 10px 0;
    }
  }
}


